In [1]:
import os

ROOT_DIR = "/home/hpham/Downloads/"
MATCH_SKILL_PATH = os.path.join(ROOT_DIR, "match_skill.csv")
PLAYER_MATCH_PATH = os.path.join(ROOT_DIR, "player_matches_small.csv")
MATCHES_SMALL_PATH = os.path.join(ROOT_DIR, "matches_small.csv")

In [49]:
import pandas as pd

chunksize = 10**6

match_skill_data = pd.read_csv(MATCH_SKILL_PATH, chunksize=chunksize, iterator=True)
player_match_data = pd.read_csv(PLAYER_MATCH_PATH, chunksize=chunksize, iterator=True)
matches_small_data = pd.read_csv(MATCHES_SMALL_PATH, chunksize=chunksize, iterator=True)

In [50]:
player_sample = pd.DataFrame(player_match_data.get_chunk(100))

In [24]:
player_sample.columns

Index(['match_id', 'account_id', 'player_slot', 'hero_id', 'item_0', 'item_1',
       'item_2', 'item_3', 'item_4', 'item_5', 'kills', 'deaths', 'assists',
       'leaver_status', 'gold', 'last_hits', 'denies', 'gold_per_min',
       'xp_per_min', 'gold_spent', 'hero_damage', 'tower_damage',
       'hero_healing', 'level', 'additional_units', 'stuns', 'max_hero_hit',
       'times', 'gold_t', 'lh_t', 'xp_t', 'obs_log', 'sen_log', 'purchase_log',
       'kills_log', 'buyback_log', 'lane_pos', 'obs', 'sen', 'actions',
       'pings', 'purchase', 'gold_reasons', 'xp_reasons', 'killed',
       'item_uses', 'ability_uses', 'hero_hits', 'damage', 'damage_taken',
       'damage_inflictor', 'runes', 'killed_by', 'kill_streaks', 'multi_kills',
       'life_state'],
      dtype='object')

In [25]:
player_sample.shape

(100, 56)

In [26]:
player_sample.head

<bound method NDFrame.head of       match_id  account_id  player_slot  hero_id  item_0  item_1  item_2  \
4    377711455         NaN          129       48     164      88     185
5    377711455         NaN          130        4      44      71      63
6    377711455         NaN          131        7     108     180      88
7    377711455         NaN          132       60      50      34     164
8    377696144         NaN            1        8       0      75      75
9    377696144         NaN            3       29       1      36      48
10   377696144         NaN          130       32     196     154      63
11   377696144         NaN          131      100      50     185     145
12   377719248         NaN            1       14       0       0       0
13   377719248         NaN            3       49      44      13      63
14   377719248         NaN            4       53      11     166       0
15   377719248         NaN          128       44      63     212     116
16   377719248         NaN          129       84      23     180      22
17   377719248         NaN          130       28     151     168      63
18   377719248         NaN          131       71     172     151      16
19   377719248         NaN          132       31      79      23      60
20   377689819         NaN            2        5     102      24      79
21   377710294         NaN            2        5     214      36     100
22   377700749         NaN            0        8     145      71      50
23   377700749         NaN            1       41       3      63      65
24   377700749         NaN            3       14      11     131      41
25   377700593         NaN            2       47      44     125      63
26   377700593         NaN            3       49     164      11      29
27   377700593         NaN            4       42      73      63      81
28   377690510         NaN            0       44      50     164      40
29   377690510         NaN            2        2     125     127       1
30   377690510         NaN            3       54     164       9      63
31   377690510         NaN          128        4      71     154     135
32   377690510         NaN          129       31     214      79     194
33   377690510         NaN          130       62     168      81      46
..         ...         ...          ...      ...     ...     ...     ...
74   377707733         NaN            4       14      29      53      41
75   377707733         NaN          129      102      81     127      92
76   377707733         NaN          130       35      63     168     135
77   377707733         NaN          131       18      63      81     114
78   377707733         NaN          132       41     172     141      11
79   377706341         NaN            1        2     214     125      46
80   377706341         NaN            2       47      63       7       0
81   377706341         NaN            3       35      63     152       8
82   377706341         NaN          130        9     147      10      16
83   377706341         NaN          131       44     145      71      50
84   377706341         NaN          132       86     180     102     121
85   377703596         NaN          129      101     204      37     206
86   377703596         NaN          130       42      63     151     116
87   377703596         NaN          132       99      81     114     125
88   377692286         NaN            2       32     139       0      81
89   377702453         NaN            2       37     180      88     108
90   377702453         NaN            3        1      63     182     147
91   377702453         NaN            4       93      63     143      14
92   377702453         NaN          128       76      63      36     102
93   377702453         NaN          129       61     212      63       0
94   377702453         NaN          130       23      50     152     149
95   377692866         NaN            1       96      53     208     127
96   377692866         NaN            3       79     123      77      86
97   377692866         NaN            4       30     180     104     121
98   377692866         NaN          128       83      42      36     180
99   377692866         NaN          129       35     172     212      73
100  377679970         NaN            0       53      96     152      50
101  377679970         NaN            1       32      63       0     208
102  377679970         NaN            2       46       0       0       0
103  377679970         NaN          128      103      79     127      40

     item_3  item_4  item_5     ...      ability_uses  hero_hits  damage  \
4       214      53       0     ...               NaN        NaN     NaN
5       145      46       0     ...               NaN        NaN     NaN
6         0       0       0     ...               NaN        NaN     NaN
7        21     143       0     ...               NaN        NaN     NaN
8        63     145     108     ...               NaN        NaN     NaN
9       185       9      42     ...               NaN        NaN     NaN
10        0      81     139     ...               NaN        NaN     NaN
11        0       0       0     ...               NaN        NaN     NaN
12        0       0       0     ...               NaN        NaN     NaN
13       11     164       0     ...               NaN        NaN     NaN
14        0       0       0     ...               NaN        NaN     NaN
15       56      26       0     ...               NaN        NaN     NaN
16       21      16       0     ...               NaN        NaN     NaN
17        0       0       0     ...               NaN        NaN     NaN
18      149       0      63     ...               NaN        NaN     NaN
19       21       0     214     ...               NaN        NaN     NaN
20       92      58     214     ...               NaN        NaN     NaN
21      108      11       0     ...               NaN        NaN     NaN
22       40     108     168     ...               NaN        NaN     NaN
23      172     141       5     ...               NaN        NaN     NaN
24       50      94       0     ...               NaN        NaN     NaN
25       16     152       0     ...               NaN        NaN     NaN
26       73      36      46     ...               NaN        NaN     NaN
27      170     208     168     ...               NaN        NaN     NaN
28       11     145       0     ...               NaN        NaN     NaN
29      114     214       4     ...               NaN        NaN     NaN
30      151      55       4     ...               NaN        NaN     NaN
31       63     112       0     ...               NaN        NaN     NaN
32      102     185     108     ...               NaN        NaN     NaN
33      135      54      50     ...               NaN        NaN     NaN
..      ...     ...     ...     ...               ...        ...     ...
74        0      27      31     ...               NaN        NaN     NaN
75      214     143       0     ...               NaN        NaN     NaN
76      143      51       0     ...               NaN        NaN     NaN
77      117       0       0     ...               NaN        NaN     NaN
78       63     168       0     ...               NaN        NaN     NaN
79        0       0       0     ...               NaN        NaN     NaN
80        0       0       0     ...               NaN        NaN     NaN
81        0       0       0     ...               NaN        NaN     NaN
82       63      52       0     ...               NaN        NaN     NaN
83       81     112       0     ...               NaN        NaN     NaN
84       36      22      21     ...               NaN        NaN     NaN
85      121     180       0     ...               NaN        NaN     NaN
86      112     168       0     ...               NaN        NaN     NaN
87       63      57       0     ...               NaN        NaN     NaN
88       18       0       0     ...               NaN        NaN     NaN
89      110       0      30     ...               NaN        NaN     NaN
90      145     143       0     ...               NaN        NaN     NaN
91       32      12     160     ...               NaN        NaN     NaN
92       23      23       0     ...               NaN        NaN     NaN
93        7       0       0     ...               NaN        NaN     NaN
94      145       0       0     ...               NaN        NaN     NaN
95       61     214     131     ...               NaN        NaN     NaN
96       92     180      94     ...               NaN        NaN     NaN
97       22      23      21     ...               NaN        NaN     NaN
98       69       0     185     ...               NaN        NaN     NaN
99       63       3       5     ...               NaN        NaN     NaN
100     168     141     203     ...               NaN        NaN     NaN
101     170      32      10     ...               NaN        NaN     NaN
102       0       0       0     ...               NaN        NaN     NaN
103      88     180     110     ...               NaN        NaN     NaN

     damage_taken  damage_inflictor  runes  killed_by  kill_streaks  \
4             NaN               NaN    NaN        NaN           NaN
5             NaN               NaN    NaN        NaN           NaN
6             NaN               NaN    NaN        NaN           NaN
7             NaN               NaN    NaN        NaN           NaN
8             NaN               NaN    NaN        NaN           NaN
9             NaN               NaN    NaN        NaN           NaN
10            NaN               NaN    NaN        NaN           NaN
11            NaN               NaN    NaN        NaN           NaN
12            NaN               NaN    NaN        NaN           NaN
13            NaN               NaN    NaN        NaN           NaN
14            NaN               NaN    NaN        NaN           NaN
15            NaN               NaN    NaN        NaN           NaN
16            NaN               NaN    NaN        NaN           NaN
17            NaN               NaN    NaN        NaN           NaN
18            NaN               NaN    NaN        NaN           NaN
19            NaN               NaN    NaN        NaN           NaN
20            NaN               NaN    NaN        NaN           NaN
21            NaN               NaN    NaN        NaN           NaN
22            NaN               NaN    NaN        NaN           NaN
23            NaN               NaN    NaN        NaN           NaN
24            NaN               NaN    NaN        NaN           NaN
25            NaN               NaN    NaN        NaN           NaN
26            NaN               NaN    NaN        NaN           NaN
27            NaN               NaN    NaN        NaN           NaN
28            NaN               NaN    NaN        NaN           NaN
29            NaN               NaN    NaN        NaN           NaN
30            NaN               NaN    NaN        NaN           NaN
31            NaN               NaN    NaN        NaN           NaN
32            NaN               NaN    NaN        NaN           NaN
33            NaN               NaN    NaN        NaN           NaN
..            ...               ...    ...        ...           ...
74            NaN               NaN    NaN        NaN           NaN
75            NaN               NaN    NaN        NaN           NaN
76            NaN               NaN    NaN        NaN           NaN
77            NaN               NaN    NaN        NaN           NaN
78            NaN               NaN    NaN        NaN           NaN
79            NaN               NaN    NaN        NaN           NaN
80            NaN               NaN    NaN        NaN           NaN
81            NaN               NaN    NaN        NaN           NaN
82            NaN               NaN    NaN        NaN           NaN
83            NaN               NaN    NaN        NaN           NaN
84            NaN               NaN    NaN        NaN           NaN
85            NaN               NaN    NaN        NaN           NaN
86            NaN               NaN    NaN        NaN           NaN
87            NaN               NaN    NaN        NaN           NaN
88            NaN               NaN    NaN        NaN           NaN
89            NaN               NaN    NaN        NaN           NaN
90            NaN               NaN    NaN        NaN           NaN
91            NaN               NaN    NaN        NaN           NaN
92            NaN               NaN    NaN        NaN           NaN
93            NaN               NaN    NaN        NaN           NaN
94            NaN               NaN    NaN        NaN           NaN
95            NaN               NaN    NaN        NaN           NaN
96            NaN               NaN    NaN        NaN           NaN
97            NaN               NaN    NaN        NaN           NaN
98            NaN               NaN    NaN        NaN           NaN
99            NaN               NaN    NaN        NaN           NaN
100           NaN               NaN    NaN        NaN           NaN
101           NaN               NaN    NaN        NaN           NaN
102           NaN               NaN    NaN        NaN           NaN
103           NaN               NaN    NaN        NaN           NaN

     multi_kills  life_state
4            NaN         NaN
5            NaN         NaN
6            NaN         NaN
7            NaN         NaN
8            NaN         NaN
9            NaN         NaN
10           NaN         NaN
11           NaN         NaN
12           NaN         NaN
13           NaN         NaN
14           NaN         NaN
15           NaN         NaN
16           NaN         NaN
17           NaN         NaN
18           NaN         NaN
19           NaN         NaN
20           NaN         NaN
21           NaN         NaN
22           NaN         NaN
23           NaN         NaN
24           NaN         NaN
25           NaN         NaN
26           NaN         NaN
27           NaN         NaN
28           NaN         NaN
29           NaN         NaN
30           NaN         NaN
31           NaN         NaN
32           NaN         NaN
33           NaN         NaN
..           ...         ...
74           NaN         NaN
75           NaN         NaN
76           NaN         NaN
77           NaN         NaN
78           NaN         NaN
79           NaN         NaN
80           NaN         NaN
81           NaN         NaN
82           NaN         NaN
83           NaN         NaN
84           NaN         NaN
85           NaN         NaN
86           NaN         NaN
87           NaN         NaN
88           NaN         NaN
89           NaN         NaN
90           NaN         NaN
91           NaN         NaN
92           NaN         NaN
93           NaN         NaN
94           NaN         NaN
95           NaN         NaN
96           NaN         NaN
97           NaN         NaN
98           NaN         NaN
99           NaN         NaN
100          NaN         NaN
101          NaN         NaN
102          NaN         NaN
103          NaN         NaN

[100 rows x 56 columns]>

In [29]:
player_sample.loc[player_sample['match_id'] == 377711455]

,match_id,account_id,player_slot,hero_id,item_0,item_1,item_2,item_3,item_4,item_5,...,ability_uses,hero_hits,damage,damage_taken,damage_inflictor,runes,killed_by,kill_streaks,multi_kills,life_state
4,377711455,NaN,129,48,164,88,185,214,53,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,377711455,NaN,130,4,44,71,63,145,46,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,377711455,NaN,131,7,108,180,88,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,377711455,NaN,132,60,50,34,164,21,143,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
player_sample

,match_id,account_id,player_slot,hero_id,item_0,item_1,item_2,item_3,item_4,item_5,...,ability_uses,hero_hits,damage,damage_taken,damage_inflictor,runes,killed_by,kill_streaks,multi_kills,life_state
4,377711455,NaN,129,48,164,88,185,214,53,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,377711455,NaN,130,4,44,71,63,145,46,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,377711455,NaN,131,7,108,180,88,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,377711455,NaN,132,60,50,34,164,21,143,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,377696144,NaN,1,8,0,75,75,63,145,108,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,377696144,NaN,3,29,1,36,48,185,9,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,377696144,NaN,130,32,196,154,63,0,81,139,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,377696144,NaN,131,100,50,185,145,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,377719248,NaN,1,14,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,377719248,NaN,3,49,44,13,63,11,164,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,377719248,NaN,4,53,11,166,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,377719248,NaN,128,44,63,212,116,56,26,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,377719248,NaN,129,84,23,180,22,21,16,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,377719248,NaN,130,28,151,168,63,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,377719248,NaN,131,71,172,151,16,149,0,63,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,377719248,NaN,132,31,79,23,60,21,0,214,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,377689819,NaN,2,5,102,24,79,92,58,214,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,377710294,NaN,2,5,214,36,100,108,11,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,377700749,NaN,0,8,145,71,50,40,108,168,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,377700749,NaN,1,41,3,63,65,172,141,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,377700749,NaN,3,14,11,131,41,50,94,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,377700593,NaN,2,47,44,125,63,16,152,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,377700593,NaN,3,49,164,11,29,73,36,46,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,377700593,NaN,4,42,73,63,81,170,208,168,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,377690510,NaN,0,44,50,164,40,11,145,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,377690510,NaN,2,2,125,127,1,114,214,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,377690510,NaN,3,54,164,9,63,151,55,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,377690510,NaN,128,4,71,154,135,63,112,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,377690510,NaN,129,31,214,79,194,102,185,108,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,377690510,NaN,130,62,168,81,46,135,54,50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,377707733,NaN,4,14,29,53,41,0,27,31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,377707733,NaN,129,102,81,127,92,214,143,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,377707733,NaN,130,35,63,168,135,143,51,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,377707733,NaN,131,18,63,81,114,117,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,377707733,NaN,132,41,172,141,11,63,168,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,377706341,NaN,1,2,214,125,46,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,377706341,NaN,2,47,63,7,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,377706341,NaN,3,35,63,152,8,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,377706341,NaN,130,9,147,10,16,63,52,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,377706341,NaN,131,44,145,71,50,81,112,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,377706341,NaN,132,86,180,102,121,36,22,21,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85,377703596,NaN,129,101,204,37,206,121,180,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,377703596,NaN,130,42,63,151,116,112,168,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,377703596,NaN,132,99,81,114,125,63,57,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88,377692286,NaN,2,32,139,0,81,18,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89,377702453,NaN,2,37,180,88,108,110,0,30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,377702453,NaN,3,1,63,182,147,145,143,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91,377702453,NaN,4,93,63,143,14,32,12,160,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92,377702453,NaN,128,76,63,36,102,23,23,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93,377702453,NaN,129,61,212,63,0,7,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94,377702453,NaN,130,23,50,152,149,145,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95,377692866,NaN,1,96,53,208,127,61,214,131,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,377692866,NaN,3,79,123,77,86,92,180,94,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,377692866,NaN,4,30,180,104,121,22,23,21,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,377692866,NaN,128,83,42,36,180,69,0,185,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,377692866,NaN,129,35,172,212,73,63,3,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,377679970,NaN,0,53,96,152,50,168,141,203,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101,377679970,NaN,1,32,63,0,208,170,32,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102,377679970,NaN,2,46,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103,377679970,NaN,128,103,79,127,40,88,180,110,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
match_skill_sample = pd.DataFrame(matches_small_data.get_chunk(200))

In [31]:
match_skill_sample.columns

Index(['match_id', 'match_seq_num', 'radiant_win', 'start_time', 'duration',
       'tower_status_radiant', 'tower_status_dire', 'barracks_status_radiant',
       'barracks_status_dire', 'cluster', 'first_blood_time', 'lobby_type',
       'human_players', 'leagueid', 'positive_votes', 'negative_votes',
       'game_mode', 'engine', 'picks_bans', 'parse_status', 'chat',
       'objectives', 'radiant_gold_adv', 'radiant_xp_adv', 'teamfights',
       'version', 'pgroup'],
      dtype='object')

In [41]:
import json

#help(json)
json.loads(match_skill_sample['pgroup'][0])

{'0': {'account_id': 4294967295, 'hero_id': 93, 'player_slot': 0},
 '1': {'account_id': 4294967295, 'hero_id': 75, 'player_slot': 1},
 '128': {'account_id': 4294967295, 'hero_id': 46, 'player_slot': 128},
 '129': {'account_id': 45475622, 'hero_id': 38, 'player_slot': 129},
 '130': {'account_id': 4294967295, 'hero_id': 52, 'player_slot': 130},
 '131': {'account_id': 4294967295, 'hero_id': 43, 'player_slot': 131},
 '132': {'account_id': 4294967295, 'hero_id': 60, 'player_slot': 132},
 '2': {'account_id': 4294967295, 'hero_id': 19, 'player_slot': 2},
 '3': {'account_id': 4294967295, 'hero_id': 44, 'player_slot': 3},
 '4': {'account_id': 4294967295, 'hero_id': 7, 'player_slot': 4}}

In [43]:
match_skill_sample.head()

,match_id,match_seq_num,radiant_win,start_time,duration,tower_status_radiant,tower_status_dire,barracks_status_radiant,barracks_status_dire,cluster,...,engine,picks_bans,parse_status,chat,objectives,radiant_gold_adv,radiant_xp_adv,teamfights,version,pgroup
0,2304340261,2019317886,t,1461013929,1701,1975,4,63,3,155,...,1,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,"{""0"":{""account_id"":4294967295,""hero_id"":93,""pl..."
1,2304335744,2019317899,t,1461013382,2299,1983,0,63,0,136,...,1,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,"{""0"":{""account_id"":4294967295,""hero_id"":29,""pl..."
2,2304324185,2019317908,t,1461012679,3291,1584,0,60,0,134,...,1,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,"{""0"":{""account_id"":124964100,""hero_id"":26,""pla..."
3,2304339409,2019317931,f,1461013865,2192,0,1982,0,63,137,...,1,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,"{""0"":{""account_id"":294843235,""hero_id"":94,""pla..."
4,2304329004,2019317805,t,1461012987,2989,4,0,3,48,191,...,1,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,"{""0"":{""account_id"":4294967295,""hero_id"":14,""pl..."

In [46]:
match_skill_sample = pd.DataFrame(match_skill_data.get_chunk(200))

match_sample

In [48]:
match_skill_sample

       match_id  skill
0    1971358627      1
1    1620277838      2
2    1967152662      1
3    1967118934      1
4    1991580700      1
5    1991936511      1
6    2017983546      1
7    1972581840      1
8    1968657486      1
9    1968657144      1
10   1968657082      1
11   1968657008      1
12   1968656825      1
13   1968656783      1
14   2007311080      1
15   1620277861      1
16   1967118747      1
17   1968382971      1
18   1968382880      1
19   1968381591      1
20   1620278101      3
21   1967118710      1
22   1968656051      1
23   2025600379      1
24   1968656002      1
25   1620278190      3
26   1966960493      3
27   1971358034      1
28   1967118614      1
29   1620278261      3
..          ...    ...
170  1970224444      1
171  1967118442      1
172  1966932665      3
173  1971356824      1
174  1967164309      1
175  1980339671      1
176  1972580837      1
177  2009338578      1
178  1966934412      3
179  1972580701      1
180  1968013332      1
181  1966938668      3
182  1966938674      3
183  1967652699      1
184  1991579350      1
185  1968377971      1
186  2009338350      1
187  1966944158      3
188  1980338909      1
189  2021295550      1
190  2021295406      1
191  1968376813      1
192  1972580355      1
193  1972580313      1
194  2025599548      1
195  2004185723      1
196  1971354861      1
197  2009338029      1
198  1968011187      1
199  2009338026      1

[200 rows x 2 columns]